In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import json
import numpy as np
import pandas as pd

In [0]:
def preprocess(df):
  threshold=0.1
  df.replace(["", 'NaN'], np.nan, inplace = True)
  #remove columns with too many nan
  df=df[df.columns[df.isnull().mean()<threshold]]
  #fill nan with mode
  for col in df:
    df[col] = df[col].fillna(df[col].mode())
    '''
  #numerical outliers
  #not working
  for col in df.select_dtypes([np.number]):
    print('working')
    Q1 = col.quantile(0.02)
    Q3 = col.quantile(0.98)
    IQR = Q3 - Q1
    df= df[~((col< (Q1 - 1.5 * IQR)) |(col> (Q3 + 1.5 * IQR))).any(axis=1)]
    '''
  #all 0 columns
  df = df[(df.T != 0).any()]
  df=pd.DataFrame(df)
  return df

In [5]:
author=[]
with open ('/content/drive/My Drive/good_reads/goodreads_book_authors.json/goodreads_book_authors.json') as f:
  for line in f:
    author.append(json.loads(line))
author=pd.DataFrame(author)    
author.head()

  average_rating author_id text_reviews_count              name ratings_count
0           3.98    604031                  7  Ronald J. Fields            49
1           4.08    626222              28716     Anita Diamant        546796
2           3.92     10333               5075    Barbara Hambly        122118
3           3.68      9212              36262   Jennifer Weiner        888522
4           3.82    149918                 96     Nigel Pennick          1740

In [0]:
author=preprocess(author)

In [0]:
author.to_csv('/content/drive/My Drive/good_reads/author.csv')

In [8]:
print(author.shape)
author.head()

(829529, 5)

  average_rating author_id text_reviews_count              name ratings_count
0           3.98    604031                  7  Ronald J. Fields            49
1           4.08    626222              28716     Anita Diamant        546796
2           3.92     10333               5075    Barbara Hambly        122118
3           3.68      9212              36262   Jennifer Weiner        888522
4           3.82    149918                 96     Nigel Pennick          1740

In [9]:
author.describe()

       average_rating author_id text_reviews_count       name ratings_count
count          829529    829529             829529     829524        829529
unique            377    829529               6241     825850         19686
top              4.00    933665                  1  Phil Noto             1
freq            52411         1             158106         22         43799

In [6]:
genres=[]
count=0
with open ('/content/drive/My Drive/good_reads/goodreads_book_genres_initial.json/goodreads_book_genres_initial.json') as f:
  for line in f:
    genres.append(json.loads(line))
    count+=1
    if count>1000000:
      break
genres=pd.DataFrame(genres)    
genres.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [7]:
genres.shape

(1000001, 2)

In [0]:
genres=preprocess(genres) #too large, ram not enough
genres.to_csv('/content/drive/My Drive/good_reads/genres.csv')

In [0]:
book_genre=[]
for bid, gen in zip(genres['book_id'],genres['genres']):
    #print(gen)
    if gen !='{}' and gen!= {}:
      book_genre.append([bid,max(gen, key=gen.get)])

In [14]:
book_genre=pd.DataFrame(book_genre)
book_genre.head()
book_genre.shape

(826331, 2)

In [0]:
book_genre.to_csv('/content/drive/My Drive/good_reads/book_genre.csv')

In [19]:
series=[]
with open ('/content/drive/My Drive/good_reads/goodreads_book_series.json/goodreads_book_series.json') as f:
  for line in f:
    series.append(json.loads(line))
series=pd.DataFrame(series)    
series.head()

  numbered note  ... series_id primary_work_count
0     true       ...    189911                  3
1     true       ...    151854                 12
2     true       ...    169353                 15
3     true       ...   1052227                  3
4    false       ...   1070125                  3

[5 rows x 7 columns]

In [0]:
series=preprocess(series)

In [0]:
series.to_csv('/content/drive/My Drive/good_reads/series.csv')

In [23]:
series.isnull().sum(axis=0)
series.describe()

       numbered                            title  ... series_id primary_work_count
count    400390                           400384  ...    400390             400390
unique        2                           101433  ...    400390                241
top        true  Don't Read in the Closet Events  ...    905475                  3
freq     356008                              711  ...         1              74342

[4 rows x 5 columns]

In [24]:
series.shape

(400390, 5)

In [25]:
works=[]
with open ('/content/drive/My Drive/good_reads/goodreads_book_works.json/goodreads_book_works.json') as f:
  for line in f:
    works.append(json.loads(line))
works=pd.DataFrame(works)    
works.head()

  books_count reviews_count  ... ratings_sum  work_id
0           1             6  ...          12  5400751
1          22         10162  ...       20150  1323437
2           2           268  ...         568  8948723
3          38         89252  ...      185670  6243154
4           2            49  ...          51   278577

[5 rows x 16 columns]

In [26]:
works=preprocess(works)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
works.to_csv('/content/drive/My Drive/good_reads/works.csv')

In [28]:
works.head()

  books_count reviews_count text_reviews_count  ... media_type ratings_sum  work_id
0           1             6                  1  ...       book          12  5400751
1          22         10162                741  ...       book       20150  1323437
2           2           268                  7  ...       book         568  8948723
3          38         89252               3504  ...       book      185670  6243154
4           2            49                  5  ...       book          51   278577

[5 rows x 10 columns]

In [29]:
works.shape

(1521962, 10)

In [30]:
works.describe()

       books_count reviews_count  ... ratings_sum   work_id
count      1521962       1521962  ...     1521962   1521962
unique         628         27553  ...       37952   1521962
top              1             1  ...           5  47430455
freq        518515         39549  ...       36748         1

[4 rows x 10 columns]

In [9]:
reviews=[]
count=0
with open ('/content/drive/My Drive/good_reads/goodreads_reviews_dedup.json/goodreads_reviews_dedup.json') as f:
  for line in f:
    reviews.append(json.loads(line))
    count+=1
    if count>1000000:
      break
reviews=pd.DataFrame(reviews)    
reviews.head()

                            user_id   book_id  ... n_votes  n_comments
0  8842281e1d1347389f2ab93d60773d4d  24375664  ...      16           0
1  8842281e1d1347389f2ab93d60773d4d  18245960  ...      28           1
2  8842281e1d1347389f2ab93d60773d4d   6392944  ...       6           0
3  8842281e1d1347389f2ab93d60773d4d  22078596  ...      22           4
4  8842281e1d1347389f2ab93d60773d4d   6644782  ...       8           0

[5 rows x 11 columns]

In [10]:
reviews=preprocess(reviews)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
reviews.to_csv('/content/drive/My Drive/good_reads/review.csv')